* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fcfcfc;
}

/*NavBar Element*/
.navbar {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: black;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
}

.navbar a {
    color: white;
}

.navbar .nav-nom {
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links {
    display: flex;
}

.navbar .nav-links li {
    margin: 0 15px;
}

li.active a {
    color: #0efff3;
}

.nav-links a:hover {
    color: #0efff3;
}

/*Elements Header (Titres des pages)*/
header{
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 20rem;
    text-align: center;
    color: #fff;
    background-color: rgb(0, 0, 0);
}

header h2{
    font-size: 3rem;
    padding-top: 10rem;
    text-transform: none;
} 

/*RWD sur les écrans avec une largeur < 900px*/
@media screen and (max-width: 1050px) {
    .navbar{
        padding: 0;
        position: relative;
    }

    .nav-nom{
        display: flex;
        position: absolute;
        top: 30px;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .nav-links {
        top: 100px;
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .navbar .nav-links li {
        margin: 5px 0;
    }

    header{
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 30rem;
        text-align: center;
        color: #fff;
        background-color: rgb(0, 0, 0);
    }
    
    header h2{
        font-size: 3rem;
        padding-top: 20rem;
        margin: auto 2rem;
        text-transform: none;
    } 
}

/*Mise en forme des différentes balises de texte*/
p{
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    height: auto;
    line-height: 32px;
    margin-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px; 
    text-align: center;
}
p a {
    text-decoration: underline;
}
   
h2 {
    margin:0 0 35px;
	text-transform:uppercase;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:700;
	letter-spacing:1px;
    font-size: 30px;
    text-align: center;
}

h3 {
    margin:0 0 35px;
	text-transform:uppercase;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:700;
	letter-spacing:1px;
    font-size: 20px;
    text-align: center;
}

main {
    margin-top: 5rem;
}

/*Elements liés aux classes pour des éléments particuliers*/

.citation{
    font-family: "Great Vibes";
    font-size: 2rem;
    line-height: 40px;
    text-align: center;
    color: rgb(51, 51, 51);
}

.image-eportfolio{
    width: 70%;
    border-radius: 30px;
    text-align: center;
    margin-top: 2rem;
}

.liste-sitemap {
    text-align: center;
    font-size: 20px;
    color: rgb(51, 51, 51);
}

audio {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

p img {
    width: 70%;
    border-radius: 10px;
    text-align: center;
    margin-top: 2rem;
}
/*Partie Tableau dans technique.html*/
table{
    width: 70%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 15%;
    margin-right: 15%;
}

caption{
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
    font-weight: bold;
}
th{
    background-color: gray;
    color: white;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    border: 1px solid black;
}

td{
    border: 1px solid black;
    padding-left: 2rem;
}

.lignebleue {
    background-color: rgb(142, 214, 247);
}

.casecochee {
    background-color: rgba(51, 51, 51, 0.295);
}


/*Elements footer*/
footer {
    background-color: black;
    color: white;
    box-sizing: border-box;
    color: white;
    display: block;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    height: auto;
    line-height: 32px;
    text-align: center;
}

footer a {
    background-color: black;
    color: white;
    box-sizing: border-box;
    color: white;
    display: block;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    height: auto;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
footer img {
    width: 5%;
    min-width: 70px;
}

/*table consultation data*/
.salle-table {
    border-collapse: collapse;
    margin-top: 2rem;
    margin: 0 auto; 
    width: 1%; 
}

.salle-table td {
    width: 2rem; 
    height: 2rem; 
    border: 2px solid #ccc;
    text-align: center; 
}

.case_vide {
    background-color: #fff;
}

.case_rouge {
    background-color: red;
}

.case_bleue {
    background-color: blue;
}
